* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

/* html, body {
  /* height: 100%;
  background: url("../img/background.jpg") no-repeat top right fixed;
  background-color: #0b0288;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: caption;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #fff;
}
*/

.msg {
  /* background-color: teal; */
  font-size: 100%;
  /* color: #fff; */
  /* margin: 0 0 0 10px; */
  /* padding: 0 0 3px 5px; */
  /* border-radius: 2px; */
}

.author {
  text-transform: capitalize;
  font-size: 80%;
  font-style: italic;
}

.timing {
  padding-top: 4px;
  font-size: 80%;
}

#typingIndicator {
  clear: both;
  padding-top: 5px;
  font-style: italic;
  text-align: left;
  font-size: 90%;
}

.wrap {
  margin: 8px;
  height: 85%;
  width: 94%;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 1 90%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.bubble {
  flex: 1 1 auto;
  clear: both;
}

/* clear the floats here on parent */

.bubble p {
  border-radius: 5px;
  padding: 8px;
  margin: 8px 12px;
  max-width: 80%;
  /* this will make it not exceed 80% and then wrap */
  position: relative;
  transition: background-color 0.5s;
}

.left p {
  background-color: #ccc;
  float: left;
}

/* floated left */

.right p {
  background-color: #33c;
  color: #fff;
  float: right;
}

/* floated right */

/* classes below are only for arrows, not relevant */

.left p::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  top: 8px;
  border-top: 4px solid transparent;
  border-right: 8px solid #ccc;
  border-bottom: 4px solid transparent;
}

.right p::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: -8px;
  bottom: 8px;
  border-top: 4px solid transparent;
  border-left: 8px solid #33c;
  border-bottom: 4px solid transparent;
}

.input-material input {
  height: 36px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #999;
  background-color: rgb(201, 201, 201);
  color: #222;
  padding: 3px 5px;
  /* font-family: 'Times New Roman', Times, serif; */
  text-align: center;
}